@import './vars.css';
@import './media-queries.css';

.bodyProps {
    background-color: #00444c;
    background: radial-gradient(ellipse at center, #00444c 1%,#001f23 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-display: fallback;
    font-size: 14px;
}
.sectionTitle {
    font-family: var(--heading-font);
    font-size: 1rem;
    font-weight: 100;

    @media (--superstock) {
        font-size: 1.4rem;
    }

    @media (--supersport) {
        font-size: 1.6rem;
    }

    @media (--superbike) {
        font-size: 1.8rem;
    }
}

.leaderP {
    font-family: var(--body-font);
    font-size: 0.9rem;
    font-weight: 200;
}
.plainList {
    list-style: none;
    padding-left:  0;
    margin-left: 0;

    @nest & li {
        margin-left:  0;
        padding: 0 0 1rem;
        margin-bottom: 0;
    }
}
.projectItem {
  font-family: var(--leader-font);
  font-size: 0.8rem;
}

.moreNav {
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
    display: block;
    width: 100%;

    @nest & a {
      background: rgb(var(--color-accent));
      color: rgb(var(--color-white));
      font-weight: normal;
      display: inline-block;
      padding: 0.5rem 1rem;
      text-decoration: none;
      border-radius: 3px;
      transition: all 0.3s ease-in-out;

      @media (hover: hover) {
        @nest &:hover {
          background: rgba(var(--color-main, --link0));
          color: rgba(var(--color-white, --link0));
        }
      }
    }

    @media (--superbike) {
      font-size: 1.4rem;
    }
}
