@import './media-queries.css';
@import './vars.css';
html {
  @nest &.sr {
    @nest & .load-hidden {
      visibility: hidden;
    }
  }
}
body {
  color: var(--color-white);
  font-size: 10px;
}
a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.4s ease-in-out;

  @nest &:hover {
    color: var(--link-hover-color);
    text-decoration: none;
  }
}

h1,
h2,
h3 {
  color: rgb(var(--color-white));

  @nest & a {
    color: var(--link-accent-color);
    text-decoration: none;

    @nest &:hover {
      color: var(--link-accent-hover-color);
    }
  }
}
h3 {
  font-size: 1.6rem;
  @media (--motogp) {
    font-size: 2rem
  }
}
svg {
  vertical-align: middle;
}

nav {
  @nest & a {
    color: var(--nav-link);

    @nest &:hover {
      color: var(--nav-link-hover);
    }
  }
}

.precis {
  border-top: 1px solid rgba(255,255,255,0.05);
}
.intro h2 {
  font-family: --heading2-font;
  font-size: 2rem;

  @media (--media-min-medium) {
    font-size: 2.5rem;
  }
  @media (--media-min-large) {
    font-size: 3rem;
  }
}
.intro p {
  font-family: --body-font;
  font-size: 1rem;
  font-weight: 200;

  @media (--media-min-medium) {
    font-size: 1.2rem;
  }
  @media (--media-min-large) {
    font-size: 1.4rem;
  }
}
.intro hr {
  border-color: rgba(255,255,255, 0.05);
  margin: 1rem -15px 0;
}
.avatar {
  width: 15rem;
  max-width: 50%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 50%;
  /* box-shadow: 0 0 3rem 0.5rem rgba(0,0,0,0.2); */
  transition: opacity 0.5s ease-in-out;
  opacity: 0.4;
}
.avatar:hover {
  opacity: 0.8;
}

footer {

  @nest & a {
    color: rgb(var(--color-main));

    @nest &:hover {
      color: var(--link-accent-color);
    }
  }
}

.bounce {
  position: fixed;
  bottom: 3rem;
  animation: bounce 2s infinite;
}
.pulse {
  display: none;
  position: sticky;
  width: 4rem;
  height:  4rem;
  bottom: 3rem;
  background: transparent;

  @media (--supersport) {
    display: inline;
  }
}
.pulse span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 4rem;
    height: 4rem;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}
.pulse span::after {
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}
.pulse span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 4rem;
    height: 4rem;
    box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
    border-radius: 100%;
    opacity: 0;
    animation: pulse 3s infinite;
    box-sizing: border-box;
}
/* animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
  80% {
      transform: translateY(0);
  }
}
@keyframes pulse {
  0% {
      opacity: 0;
  }
  30% {
      opacity: 1;
  }
  60% {
      opacity: 0;
      box-shadow: 0 0 0 6rem rgba(255,255,255, 0.03);
  }
}
