:root {
  --color-black: 34, 34, 34;
  --color-white: 255, 255, 255;
  /* --color-accent: #f43; */

  --color-main: 60,60,60;
  --color-main-dark: 5, 5, 5;
  --color-accent: 207, 20, 43;
  --linkO: 0.9;
  --hoverO: 0.6;

  --copy-color-main: rgb(var(--color-white));
  --link-color: rgba(var(--color-white), var(--linkO));
  --link-hover-color: rgba(var(--color-accent), var(--linkO));
  --link-accent-color: rgba(var(--color-accent), var(--linkO));
  --link-accent-hover-color: rgba(var(--color-accent), var(--hoverO));
  --link-hover-color-footer: rgb(var(--color-accent));
  --nav-link: var(--link-color);
  --nav-link-hover: var(--link-hover-color);

  --body-font: 'Ubuntu', sans-serif;
  --heading-font: 'Assistant', sans-serif;
  --leader-font: 'Roboto', sans-serif;
  --brand-font: 'Roboto Slab', sans-serif;

  --header-height: 10vh;
  --header-height-small: 7vh;
  --header-height-xsmall: 5vh;
  --footer-height: 5vh;
}
