@import '../styles/vars.css';
@import '../styles/media-queries.css';
@import '../styles/global.css';

.root,
aside {
    color: white;
    padding-top: 0.5rem;
    @nest & h3 {
        font-weight: lighter;
        margin: 0 0 1rem;
    }

    @media (--motogp) {
        padding-top: 1.5rem;
    }
}

.asideList {
    composes: plainList from '../styles/global.css';
    width: 100%;
    @nest & li {
        padding-bottom: 0;

        & a {
            display: block;
            padding: .5rem 1rem;
            border-radius: 2px 3px 8px 2px;
            transition: background 0.4s ease-in-out, color 0.3s ease-in-out;

            @nest &:hover {
                color: rgb(var(--color-white));
                background: rgba(var(--color-accent, --link0));
            }
        }
    }
}
