@import '../styles/media-queries.css';
@import '../styles/vars.css';

.root {

}
.postsList {
  display: flex;
  align-content: space-between;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-height: 1px;
}
.headline {
  composes: sectionTitle from '../styles/global.css';
  margin: 2rem 0;
}

.browseMoreNav {
  composes: moreNav from '../styles/global.css';

  @media (--superstock) {
    font-size: 1rem;
  }

  @media (--supersport) {
      font-size: 1.2rem;
  }

  @media (--superbike) {
    font-size: 1.4rem;
  }
}
