@import '../styles/media-queries.css';
@import '../styles/vars.css';

.root {
  position: relative;
  background: rgba(var(--color-accent), 0);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0);
  z-index: 100;
  transition: background 0.4s ease-in-out, box-shadow 0.5s ease-in-out, height 0.4s ease-in-out;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
}
.sticky {
  background: rgba(var(--color-main-dark), 0.9);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
  height: var(--header-height-small);
}
.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1184px;
  padding: 1em;
  display: flex;
  transition: padding 0.3s ease-in-out;

  @nest .sticky & {
    padding: 0.5em;
  }
  @media (--media-min-small) {
    padding: 1.5em 1.5em;
  }
}

.branding {
  font-family: var(--brand-font);
  font-size: 1rem;
  font-weight: 100;
  margin: 0;
  flex: 1;

  @nest & a {
    display: inline-block;
    padding: 0.5em;
    color: var(--nav-link);
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--nav-link-hover);
      }
    }
  }
  @media (--supersport) {
    font-size: 1.2rem;
  }
  @media (--supersbike) {
    font-size: 1.5rem;
  }
}

.toggleNavButton {
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;

  @nest & svg {
    display: block;
  }

  @media (--supersport) {
    display: none;
  }
}

.nav {
  display: none;
  color: var(--nav-link);
  transition: all 0.3s ease-in-out;
  font-family: var(--brand-font);
  font-size: 1rem;
  font-weight: 100;

  @nest & ul {
    margin: 0;
    padding: 0;
  }

  @nest & ul li a {
    display: block;
    color:  var(--nav-link);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }

  @media (hover: hover) {
    @nest & ul li a:hover {
      color: var(--nav-link-hover);
    }
  }
  @media (--supersport) {
    font-size: 1.2rem;
  }
  @media (--supersbike) {
    font-size: 1.5rem;
  }

  @media (--media-max-medium) {
    position: absolute;
    background: rgba(var(--color-main-dark), 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    left: 0;
    right: 0;
    top: var(--header-height);

    @nest .sticky & {
      top: var(--header-height-small);
    }
    @nest & ul {
      padding: 1rem 0;
    }

    @nest & ul li a {
      padding: 0.5rem 1.5rem;
    }
  }

  @media (--supersport) {
    display: block;

    @nest & ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
    }

    @nest & ul li a {
      padding: 0.5rem;
    }
  }
}

.showNav {
  display: block;
}
