@import '../styles/media-queries.css';
@import '../styles/vars.css';

.content {
  background: radial-gradient(ellipse at top, rgb(var(--color-main)) 10%, rgb(var(--color-main-dark)) 100%);
  min-height: calc(100% - var(--header-height) - var(--footer-height));
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
  width: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 0;

  @nest & > h1 {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 1;
    text-align: center;
  }
  @nest & > div {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;

    & section {
      padding-top: 3rem;
    }

    @media (--superstock) {
        grid-column-start: 2;
        grid-column-end: 12;
    }
    &[page='home'] {
      grid-column-start: 2;
      grid-column-end: 12;
      text-align: center;

      & section:nth-of-type(1) {
        padding-top: 0;
        display: flex;
        height: 100%;
        max-height: 100%;
        width: 100%;


        @media (--supersport) {
          height: 85vh;
          align-items: center;
        }
      }

      & section:last-of-type {
        padding-bottom: 5vh;
      }
    }
    &[page='about'] {
      text-align: center;
      grid-column-start: 3;
      grid-column-end: 11;
    }
    &[page='projects'] {
      grid-row-start: 1;

      @media (--superstock) {
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 2;
      }

      @media (--supersport) {
        grid-column-start: 3;
        grid-column-end: 11;
        grid-row-start: 2;
      }

      @media (--superbike) {
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 2;
      }
    }
    &[page='project'] {
      grid-column-start: 1;
      grid-column-end: 13;
    }
    &[page='blog'] {
      text-align: center;
      grid-column-start: 1;
      grid-column-end: 13;
      grid-row-start: 2;

      & + aside {
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 3;
      }

      @media (--superstock) {
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 2;

        & + aside {
          grid-column-start: 2;
          grid-column-end: 12;
          grid-row-start: 3;
        }
      }

      @media (--supersport) {
        grid-column-start: 2;
        grid-column-end: 9;
        grid-row-start: 2;

        & + aside {
          grid-column-start: 9;
          grid-column-end: 12;
          grid-row-start: 2;
        }
      }

      @media (--superbike) {
        grid-column-start: 2;
        grid-column-end: 9;
        grid-row-start: 2;

        & + aside {
          grid-column-start: 10;
          grid-column-end: 12;
          grid-row-start: 2;
        }
      }
    }
    &[page='post'] {
      grid-column-start: 1;
      grid-column-end: 13;
    }
  }
}
.footer {
  background: rgb(var(--color-white));
  box-shadow: 0 0 2rem rgba(var(--color-black), 0.6);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footer-height);
  color: rgb(var(--color-main));

  @nest & ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  @nest & a {
    color: rgb(var(--color-main));
    font-size: 0.9rem;
    &:hover {
      color: var(--link-hover-color-footer);
    }
    &.navLink {
      display: block;
      padding: .5rem 1rem;
    }
    & span {
      display: none;
      box-sizing: border-box;

      @media (--supersport) {
        display: inline;
      }
    }

    & > svg {
      width: 15px;
      height: auto;

      @media (--superstock) {
        width: 24px;
      }
    }
  }
}

.footerWrapper {
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;

  @media (--media-min-small) {

  }
}

.companyAddress {
  text-align: center;
  margin: 0 0 1rem;
}

.siteInfo {
  text-align: center;
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);

  @nest & a {
    color: inherit;
  }
}
