@import '../styles/vars.css';
@import '../styles/media-queries.css';
@import '../styles/global.css';

.root {
  /* display: block; */
  color: inherit;
  text-decoration: none;
}

.projectSummary {
  flex: 0 0 100%;
  max-width: 100%;
  /* padding-right: 15px;
  padding-left: 15px; */
  /* margin-bottom: 3rem; */
  flex-wrap: wrap;
  text-align: center;

  @nest & > a {
    background: rgba(var(--color-main-dark), 0);
    display: block;
    max-height: 100%;
    padding: 1.5rem;
    max-height: 100%;
    overflow: hidden;

    & h3 {
      color: var(--link-accent-color);
      font-family: 'Ubuntu', sans-serif;
      font-weight: normal;
      font-size: 1.2rem;
      transition: color 0.3s ease-in-out;

      @media (--motogp) {
        font-size: 1.4rem;
      }
    }

    &:hover {
      color: rgb(var(--color-white));
      & h3 {
        color: var(--link-accent-color);
      }
    }

    & p {
      font-size: var(--font-small-size);
      line-height: var(--font-small-line-height);
      text-align: left;

      @media (--supersport) {
        font-size: var(--font-med-size);
        line-height: var(--font-med-line-height);
      }

      @media (--motogp) {
        font-size: var(--font-large-size);
        line-height: var(--font-large-line-height);
      }
    }
    & h3 .beta {
        display: inline-flex;
        color: rgba(255,255,255,0.4);
        font-family: 'Ubuntu', sans-serif;
        font-size: 0.8rem;
        font-weight: 100;
        text-transform: uppercase;
        transform: rotate(-20deg);
        transition: all 0.4s ease-in-out;
    }
    & h3:hover .beta {
        color: rgba(255,255,255,0.8);
        transform: rotate(5deg);
    }
  }
  @media (--supersport) {
    flex: 0 0 100%;
    max-width: 100%;
  }
  @media (--superbike) {
    flex: 0 0 50%;
    max-width: 50%;
  }

  @media (--motogp) {
    flex: 0 0 33%;
    max-width: 33%;

    & > a {

    }

    @nest &:first-of-type,
    &:nth-of-type(2){
      flex: 0 0 50%;
      max-width: 50%;
      /* flex-wrap: nowrap; */
      margin: 1rem 0;

      & > a {

      }
    }
  }
}

.projectList {
  composes: plainList from '../styles/global.css';
  text-align: left;

  @nest & li {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0.5rem;
  }
}

.info {
  composes: projectItem from "../styles/global.css";

  @media (--supersport) {
      font-size: 0.9rem;
  }
  @media(--superbike) {
      font-size: 1rem;
  }

  @nest & svg {
    padding-right: 0.5rem;
    min-width: 4rem;
  }

}

.projectThumb {
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
  position: relative;
  padding-bottom: 50%;

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;

    @nest .root > a:hover & {
      transform: scale(1.03);
    }
  }

  @nest .projectSummary:first-of-type &,
  .projectSummary:nth-of-type(2) & {
    /* padding-bottom: 33.3333%; */
  }
}
