@import '../styles/media-queries.css';
@import '../styles/vars.css';

.wrapper {
}


.brand {
  width: 60%;
  max-width: 350px;
  margin: 0 auto;

  @nest & .logo {
    width: 100%;
    height: auto;
  }
}
.lead {
  font-family: var(--heading-font);
  margin: 2rem 0;
}
.typed {
  color: rgb(var(--color-white));
  font-size: 0.8rem;
  font-weight: 900;
  width: 90%;

  @media (--superstock) {
    font-size: 1.4rem;
  }
  @media (--supersport) {
    font-size: 1.6rem;
  }
  @media (--supersbike) {
    font-size: 1.8rem;
  }
}
.typed + span {
  color: white;
  font-size: 1.4rem;
}

blockquote {
  color: rgb(var(--color-white));
  display: block;
  font-family: 'Roboto Slab', sans-serif;
  font-display: swap;
  font-size: 1rem;
  font-weight: 200;
  margin: 1rem 0;
  width: 100%;
  max-width: 100%;
  flex: 0 1 100%;
  flex-grow: 1;
  padding: 0;
  text-align: justify-all;

  @nest & footer {
    font-size: 0.7rem;
    margin-top: 0.5rem;
  }

  @media (--superstock) {
    font-size: 1rem;

    @nest & footer {
      font-size: 0.9rem;
    }
  }

  @media (--superbike) {
    font-size: 1.2rem;
    max-width: 50%;
    flex: 0 1 auto;
    padding: 0 1rem;

    @nest &:first-child {
      padding-left: 0;
    }
    @nest &:last-child {
      padding-right: 0;
    }

    @nest & footer {
      font-size: 1rem;
    }
  }
  @media (--motogp) {
    font-size: 1.2rem;

    @nest & footer {
      font-size: 1rem;
    }
  }
}

.precis {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
  text-align: left;

  @media (--supersport) {
    flex-direction: column;
  }
  @media (--superbike) {
    flex-direction: row;
  }
}

.intro h2 {
  font-family: var(--brand-font);
  font-size: 2rem;

  @media (--supersport) {
    font-size: 2.5rem;
  }
  @media (--superbike) {
    font-size: 2.5rem;
  }
}
.intro p {
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: 200;

  @media (--supersport) {
    font-size: 1.2rem;
  }
  @media (--superbike) {
    font-size: 1.4rem;
  }
}
.intro hr {
  border-color: rgba(255, 255, 255, 0.05);
  margin: 1rem -15px 0;
}

.primary-btn {
    bottom: 4rem;
}
