@import '../styles/media-queries.css';
@import '../styles/vars.css';

:root {
  --base-unit: 17;

  /* Font sizes */
  --font-micro-size: calc(8 / var(--base-unit) * 1rem);
  --font-micro-line-height: 1;
  --font-xsmall-size: calc(10 / var(--base-unit) * 1rem);
  --font-xsmall-line-height: calc(18 / 10);
  --font-small-size: calc(12 / var(--base-unit) * 1rem);
  --font-small-line-height: calc(18 / 12);
  --font-med-size: calc(14 / var(--base-unit) * 1rem);
  --font-med-line-height: calc(18 / 14);
  --font-base-size: calc(var(--base-unit) / 16 * 100%);
  --font-base-line-height: calc(22 / var(--base-unit));
  --font-large-size: calc(16 / var(--base-unit) * 1rem);
  --font-large-line-height: calc(24 / 16);
  --font-xlarge-size: calc(19 / var(--base-unit) * 1rem);
  --font-xlarge-line-height: calc(26 / 19);
  --font-xxlarge-size: calc(22 / var(--base-unit) * 1rem);
  --font-xxlarge-line-height: calc(28 / 22);
  --font-title3-size: calc(19 / var(--base-unit) * 1rem);
  --font-title3-line-height: calc(28 / 19);
  --font-title2-size: calc(26 / var(--base-unit) * 1rem);
  --font-title2-line-height: calc(36 / 26);
  --font-title1-size: calc(44 / var(--base-unit) * 1rem);
  --font-title1-line-height: calc(56 / 44);
}



/*
 * Statically sized elements
 */

.title1 {
  font-size: var(--font-title1-size);
  line-height: var(--font-title1-line-height);
}

.title2 {
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
}

.title3 {
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
}

.large {
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
}

.base {
  font-size: inherit;
  line-height: inherit;
}

.small {
  font-size: var(--font-med-size);
  line-height: var(--font-med-line-height);
}

.micro {
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  text-transform: uppercase;
}



/*
 * Responsively sized elements
 */

.paragraph, p {
  color: rgb(var(--color-white));
  font-family: var(--body-font);
  font-size: var(--font-med-size);
  font-weight: 300;
  line-height: var(--font-med-line-height);
  margin: 0.5rem 0 1rem 0;

  @media (--superstock) {
    font-size: var(--font-med-size);
    line-height: var(--font-large-line-height);
  }

  @media (--supersport) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }

  @media (--superbike) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }
}

.blockQuote {
  background: #eee;
}

.responsiveTitle1 {
  color: rgb(var(--color-white));
  font-family: var(--heading-font);
  font-weight: 200;
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
  margin: 1rem 0 2rem;
  text-align: center;

  @media (--superstock) {
    font-size: 2rem;
    line-height: var(--font-title2-line-height);
  }
  @media (--supersport) {
    font-size: 2.2rem;
    line-height: var(--font-title2-line-height);
  }
  @media (--superbike) {
    font-size: 3rem;
    line-height: var(--font-title1-line-height);
  }
}

.responsiveTitle2 {
  color: rgb(var(--color-white));
  font-family: var(--heading-font);
  font-weight: 200;
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  margin: 1.5rem 0 0.5rem;

  @media (--superstock) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }

  @media (--supersport) {
    font-size: var(--font-xxlarge-size);
    line-height: var(--font-xxlarge-line-height);
  }
}

.responsiveTitle3 {
  font-weight: 200;
  font-family: var(--heading-font);
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  margin: 1rem 0 0.5rem;

  @media (--superstock) {
    font-size: var(--font-xlarge-size);
    line-height: var(--font-xlarge-line-height);
  }

  @media (--supersport) {
    font-size: var(--font-title2-size);
    line-height: var(--font-title2-line-height);
  }
}

.responsiveTitle4 {
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  margin: 1rem 0 0.5rem;

  @media (--media-min-small) {
    font-size: var(--font-base-size);
    line-height: var(--font-base-line-height);
  }

  @media (--media-min-medium) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }
}
