
# Add token with read rights for live preview of drafts
# You can add tokens on https://manage.sanity.io/projects/<yourProjectId>/settings/api
SANITY_TOKEN="skjq4j1OSJgmsHPfy4PSnXNMqHfbw7OqPr6A4soTzMDHLKXI8207633yeBqrpxVWfA0cQoqMJ4DokrGIX7kg26MeU5cWyddd7IGi5wd8aNnPMVZXKmhGEZqBqxGtHO5lLLPDtJhZvK1cIhtfRj1txAh78ECq2o00HO7i2VyJKUAYuk7sxqTy"
